html {
    background-color: lightgrey;
}
/*Color de fondo y letra titulos*/
h1, h2 {
    background-color: #ff0;
    color: black;
}

/*Letra de texto*/
.fuenteTexto {
    font-family: 'Inconsolata', monospace, sans-serif;
}

/*Centrado*/
.centrado {
    text-align: center;
}

/*Negrita*/
nav, span, li p {
    font-weight: bold;
}
/*Header*/
header {
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position: center; 
}

/*Footer*/
footer {
    background-color: #ff0;
    color: black;
}
/*Tamaño iconos*/
.iconos {
    width: auto;
    height: 16px;
}

/*Foto de perfil*/
.fotoPerfil {
    width: auto;
    height: 114px;
    border-style: groove;
}

/*Nav*/

nav {
    background-color: black;
}

nav a {
    color: #ff0;
    text-decoration: none;
}

span {
    font-style: italic;
}
/*Estilo listas*/
ul {
    list-style: none;
}


